[submodule "backend"]
	path = backend
	url = git@github.com:israelias/flask-react-crud/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:israelias/flask-react-crud/frontend.git
